@import 'vars';
@import 'global';
@import 'fonts';

//start header

.header-top{
  background-color: #eef1f3;
  &-inner{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
  }
}
.header__logo{
  font-size: 30px;
  
  a{
    display: flex;
    align-items: center;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    img{
      margin-right: 6px;
    }
  }
}
.header__btn{
  margin-left: auto;
  margin-right: 218px;
  &-link{
  width: 140px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: rgb(6, 116, 236);
  padding: 13px;
  font-size: 14px;
  border-radius: 25px;
  text-align: center;
  color: #fff;
  }
}
.header__user{
    display: flex;
    align-items: center;
  a{
    display: block;
  }
  &-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 22px;
  }
}
.name{
  font-size: 16px;
  color: #333
}
.money{
  color: $blue;
  font-size: 15px;
  line-height: 22px;
}
.header__menu-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.menu__list{
  li{
    display: inline-block;
    & + li{
      margin-left: 34px;
    }
  }
  a{
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
  }
}
.search__inner-form{
  max-width: 358px;
  width: 100%;
  position: relative;
  input{
    display: block;
    width: 100%;
    border: 1px solid #d9dfe5;
    border-radius: 25px;
    height: 44px;
    padding-left: 23px;
    padding-right: 90px;
    outline: transparent;
    &::placeholder{
      color: #898f96;
      font-size: 15px;
    }
  }
  button{
    position: absolute;
    border: none;
    background-color: #0674ec;
    border-radius: 25px;
    right: 0;
    top: 0;
    width: 70px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: transparent;
  }
}
//end header

// start create

.create{
  min-height: 726px;
  background: linear-gradient( 270deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
  padding-top: 180px;
  text-align: center;
}
.create__inner{
  font-family: 'Quicksand', sans-serif;
  color: #f3f3f8;
  &-title{
    font-size: 60px;
    margin-bottom: 30px;
    span{
      font-weight: 700;
      display: block;
    }
  }
  &-text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  &-btn{
    .link + .link{
      margin-left: 30px;
    }
  }
}
.link{
  border: 1px solid #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  width: 190px;
  padding: 18px;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  transition: all .5s;
  &:hover{
    background-color: #fff;
    color: #0674ec;
  }
}
// end create

// start search

.position{
  position: relative;
}

.search{
  width: 1140px;
  height: 135px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  padding: 40px 0;
  position: absolute;
  bottom: -68px;
  z-index: 3;
  &::after{
    content: '';
    position: absolute;
    border-radius: 6px;
    background-color: #fff;
    opacity: 0.502;
    width: 1080px;
    height: 135px;
    top: -26px;
    right: calc((100% - 1080px) / 2);
    z-index: -2;
  }
  &::before{
    content: '';
    position: absolute;
    border-radius: 6px;
    background-color: #fff;
    opacity: 0.502;
    width: 1110px;
    height: 135px;
    top: -13px;
    right: calc((100% - 1110px) / 2);
    z-index: -1;
  }
}
.search__box-inner{
  max-width: 1060px;
  margin: 0 auto;
  form{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  input{
    display: block;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #dcdcdc;
    border-right: transparent;
    width: 615px;
    height: 55px;
    padding-left: 30px;
    padding-right: 195px;
    font-family: 'Quicksand', sans-serif;
    outline: transparent;
    &::placeholder{
      color: #676767;
      font-size: 16px;
    }
  }
  button{
    width: 223px;
    padding: 15px;
    border: none;
    border-radius: 4px;
    background-color: rgb(6, 116, 236);
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    outline: transparent;
  }
}
.search__box-cat{
  margin-right: auto;
  max-width: 195px;
  width: 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #dcdcdc;
  font-size: 16px;
  height: 55px;
  padding: 18px 50px 19px 20px;
  color: #555555;
  position: relative;
  &::before{
    content: '\f107';
    position: absolute;
    font-family: 'icomoon';
    color: #676767;
    font-size: 18px;
    top: 18px;
    right: 24px;
  }
}
// end search

// start features

.features{
  padding-top: 185px;
  padding-bottom: 120px;
}
.features__inner{
  display: flex;
  justify-content: space-between;
}
.features__item{
  max-width: 360px;
  text-align: center;
  padding: 40px 33px 50px;
  transition: all .5s;
  &:hover{
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
  &-img{
    height: 120px;
    margin-bottom: 30px;
  }
  &-title{
    font-size: 24px;
    margin-bottom: 21px;
  }
  &-text{
    font-size: 16px;
    line-height: 30px;
  }
}
// end features

// start featured-products

.featured-products{
  padding: 120px 0;
  background-color: #eff1f5;
}
.products__title{
  padding: 40px 30px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 50px;
  font-size: 30px;
}
.products__item{
  display: flex;
  border-radius: 4px;
  box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
  background-color: #fff;
}
.products__item-inner{
  padding: 50px 60px 25px 50px;
}
.product{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 450px;
  max-width: 555px;
  width: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.products__item-content{
  max-width: 586px;
  .title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .text{
    font-size: 16px;
    line-height: 29px;
    margin-bottom: 30px;
  }
  .cat{
    display: flex;
    margin-bottom: 45px;
    .cat__prop + .cat__prop{
      margin-left: 8px;
    }
    &__prop{
      padding: 7px 15px 7px 18px;
      background-color: #f1f3f6;
      border-radius: 25px;
    }
  }
}
  .info{
    padding-top: 23px;
    border-top: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .like{
      margin-left: 20px;
      margin-right: 20px;
      span:last-child{
        margin-left: 10px;
      }
    }
    .cart{
      margin-right: auto;
      span{
        color: #0674ec;
      }
      span:last-child{
        margin-left: 10px;
      }
    }
    a{
      text-align: center;
      padding: 8px 0 10px;
      max-width: 100px;
      width: 100%;
      background-color: #0674ec;
      border-radius: 25px;
      font-size: 15px;
      color: #fff;
      font-weight: 500;
      line-height: 15px;
    }
  }
.author{
  display: flex;
  margin-bottom: 30px;
  font-size: 15px;
  a{
    display: flex;
    align-items: center;
  }
}
.prop{
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.author-link{
  background-repeat: no-repeat;
  background-position: center left;
  span{
    color: #000;
  }
  .clr{
    color: #7347c1;
  }
}
.author-link + .author-link{
  margin-left: 20px;
  padding-left: 25px;
}
.slick-prev{
  position: absolute;
  top: -130px;
  right: 105px;
  background-color: #7347c1;
  width: 55px;
  height: 45px;
  border: transparent;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  outline: transparent;
  span{
    color: #fff;
  }
}
.slick-next{
  position: absolute;
  top: -130px;
  right: 50px;
  background-color: #7347c1;
  width: 55px;
  height: 45px;
  border: transparent;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  outline: transparent;
  span{
    color: #fff;
  }
}
// end featured-products


.link_all{
  text-align: center;
  border: 1px solid #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  width: 190px;
  padding: 18px;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  background-color: $blue;
}

// start filter

.filter{
  background-color: #f6f7fb;
  padding: 120px 0;
  .link_all{
    margin: 30px auto 0;
    display: block;
  }
}
.filter__title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}
.filter_by{
  font-size: 16px;
  color: #747b86;
}
.filter__btn{
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
  background-color: #fff;
  margin-bottom: 50px;
  button{
    padding: 10px 20px 8px;
    border: transparent;
    background-color: #f1f3f6;
    border-radius: 25px;
    color: #747b86;
    font-size: 15px;
  }
  button + button{
    margin-left: 7px;
  }
}
.filter__inner-box,
.feed__inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .products__item{
    display: block;
    max-width: 360px;
    margin-bottom: 30px;
    .product{
      min-height: 230px;
      border-top-right-radius: 4px;
      border-bottom-left-radius: 0;
    }
    &-inner{
      min-height: 240px;
      padding: 0;
      .info{
      padding: 15px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
        a{
          padding: 8px 20px 10px 20px;
          width: auto;
          background-color: #e6f1fd;
          color: #0674ec;
        }
        .cart{
          margin-right: 0;
        }
        .rate-star{
          margin-right: auto;
        }
      }
    }
    .products__item-content{
      padding: 30px 35px 30px 30px;
      .title{
        font-size: 20px;
      }
      .text{
        margin-bottom: 0;
      }
    }
  }
}
.lnr-heart{
  color: #7347c1;
}
// end filter

// start feed

.feed{
  padding: 120px 0;
  background-color: #eff1f5;
}
.feed__inner{
  flex-wrap: nowrap;
}

// end feed

// start facts

.facts{
  padding: 100px 0;
  background-color: #212225;
}
.facts__inner{
  display: flex;
  justify-content: space-between;
}
.facts__item{
  text-align: center;
  &-icon{
    span{
      display: block;
      font-size: 36px;
    }
    span:first-child{
      font-size: 43px;
      margin-bottom: 50px;
    }
    &--yellow{
      color: #feb71d;
    }
    &--blue{
      color: #58c9e9;
    }
    &--green{
      color: #77de51;
    }
    &--red{
      color: #ff6a6d;
    }
  }
  &-text{
    font-size: 18px;
    color: #fff;
    margin-top: 12px;
  }
}
// end facts
